:root {
	--font-color: #0277BD;
	--plum: #0277BD;
	--green: #0277BD;
	--orange: #0277BD;
	--turquoise: #0277BD;
	--background-color: #FAFAFA;
	--button-mode-color:#000000;
	--button-mode-bg-color:rgba(0, 0, 0, 0.1);
}

.dark {
	--font-color: #88498F;
	--turquoise: #55D6BE;
	--plum: #88498F;
	--green: #79C753;
	--orange: #e67e22;
	--blue: rgb(34, 211, 211);
	--background-color: #000000;
	--button-mode-color:#FAFAFA;
	--button-mode-bg-color:rgba(0, 0, 0, 0.1);
}

/* Typography */

html {
	font-family: "Roboto Mono", monospace;
}

@media (min-width: 0px) {
	main>.intro>.box-name>.nickname {
		background-color: var(--background-color);
		color: var(--green);
	}
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}

	main>.intro>.box-name {
		padding: 10px 10px 20px 20px;
	}

	main>.intro>.box-name>.nickname {
		background-color: var(--font-color);
		color: var(--background-color);
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 30px 0px;
	background: var(--background-color);
	color: var(--font-color);
}

section {
	padding: inherit;
	width: 60%;
	min-width: 10%;
}

.btn, .name, .box-name, .nickname, .tagline, .buttons>a, main {
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
}

main>.intro>.box-name {
	border: 1px solid var(--green);
	background-color: var(--font-color);
}

main>.intro>.box-name>.name {
	background-color: var(--background-color);
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3em;
	font-weight: 600;
}

main>.intro>.tagline {
	font-size: 0.9rem;
	color: var(--orange);
	margin: 1.5rem 0;
	font-weight: 100;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--green);
}

/* css for the shiny buttons */

.btn {
	cursor: pointer;
	margin: 10px;
	text-decoration: none;
	padding: 10px 10px;
	font-size: 0.9em;
	display: inline-block;
}

.btn.available:hover {
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAEdJREFUeAF90FEKgDAMwFDT+x9awYCRwjL282CM9joFsGie/swYy6oiENW8RaJ5PBvxvCpqxfwetTOqeyo+Rgx3JjnrCxNa3TwuAY6NyoMhAAAAAElFTkSuQmCC), auto;
	/* middle finger =======> cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto; */
}
.btn.soon:hover {
	cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAZCAMAAAD63NUrAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAFZJREFUeNqdzksKwDAIAFHH+x+6lIYOVPOhs5OHJnES/5UkYKEkU7xjijSIm50iFh4fAXgYDd/yumVVRSwsqq/nRA3xVK0oo06d5U6DpQZ7PV7lMxH7LkaQAbYFwryzAAAAAElFTkSuQmCC),auto;
}

.available {
	color: var(--green);
	border: 2px var(--orange) solid;
}

.available:hover {
	color: var(--background-color);
	background-color: var(--orange);
	border: 2px var(--green) solid;
}

.soon {
	border: 1px solid;
}

.buttons {
	text-align: start;
}

/* BUTTON DARK MODE */
.change-mode {
	border: 2px var(--button-mode-color) solid;
	color: var(--button-mode-color);
	background-color: var(--button-mode-bg-color);
    position: fixed;
    top: 0px;
    right: 0px;
    margin:10px;
}

.change-mode:hover {
	color: var(--background-color);
	background-color: var(--button-mode-color);
}

/* CSS for Projects */

.divider {
	/* minor cosmetics */
	display: table;
	font-size: 1.5em;
	font-weight: 600;
	width: 75%;
	padding: 10px  5px;
}

/* Footer section */
footer {
	text-align: center;
	position:fixed;
	left:0px;
	bottom:0px;
	height:auto;
	width:100%;
}

.icons-social i {
	padding: 10px;
	font-size: 1.5em;
}

.icons-social a {
	color: var(--green);
}

svg path {
	fill: var(--background-color);
}